<div class="content-header">
  <div class="content-header-90">
    <h1>Persona: <span>Metas</span> y Frustraciones</h1>
  </div>
</div>

<div class="main-metas">
  <div class="main-metas--content">
    <div class="content-fila1">
      <div class="col-metas">
        <div class="metas--titulo">
          <h1>Metas</h1>
        </div>

        <div class="container-lista">
          <ul>
            <li>Mejorar navegacion entre paginas</li>
            <li>Mejorar el performance de las animaciones</li>
            <li>Mejorar las transiciones entre colores</li>
          </ul>
        </div>
      </div>

      <div class="col-frustracion">
        <div class="frustracion--titulo">
          <h1>Frustraciones</h1>
        </div>

        <div class="container-lista">
          <ul>
            <li>No se entiende la navegabilidad entre paginas</li>
            <li>Las animaciones son lentas</li>
            <li>No se aprecia bien el texto.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="content-fila2">
      <div class="parrafo-container">
        <p>“La Programación y el UX es mi pasión”</p>
      </div>
    </div>
  </div>
</div>
