<div class="content-header">
  <div class="content-header-90">
    <h1>Persona: <span>Metas</span> y Frustraciones</h1>
  </div>
</div>

<div class="main-metas">
  <div class="main-metas--content">
    <div class="content-fila1">
      <div class="col-metas">
        <div class="metas--titulo">
          <h1>Metas</h1>
        </div>

        <div class="container-lista">
          <ul>
            <li>{{metasData.metas_li1}}</li>
            <li>{{metasData.metas_li2}}</li>
            <li>{{metasData.metas_li3}}</li>
          </ul>
        </div>
      </div>

      <div class="col-frustracion">
        <div class="frustracion--titulo">
          <h1>Frustraciones</h1>
        </div>

        <div class="container-lista">
          <ul>
            <li>{{metasData.frustracion_li1}}</li>
            <li>{{metasData.frustracion_li2}}</li>
            <li>{{metasData.frustracion_li3}}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="content-fila2">
      <div class="parrafo-container">
        <p>{{metasData.cita}}</p>
      </div>
    </div>
  </div>
</div>
