<div class="content-header">
  <div class="content-header-90">
    <h1>Investigacion sobre los usuarios: <span>Puntos Debiles </span></h1>
  </div>
</div>

<!-- Contenido de la sección "Puntos debiles" -->
<div class="main-puntosdebiles">
  <div class="puntosdebiles-container1">
    <div class="content-icon">
      <i class='bx bx-compass'></i>

    </div>

    <div class="content-titulo">
      <h2>Navegacion</h2>
    </div>

    <div class="content-subtitulo">
      <div class="container-p90">
        <p>
          Navegación poco clara que hace
          que los visitantes tengan dificultades para encontrar lo que están
          buscando.
        </p>
      </div>
    </div>
  </div>

  <div class="puntosdebiles-container2">
    <div class="content-icon">
      <i class='bx bx-mouse'></i>
    </div>

    <div class="content-titulo">
      <h2>Interaccion</h2>
    </div>

    <div class="content-subtitulo">
      <div class="container-p90">
        <p>
          Falta de Enganche: La interacción es una forma efectiva de involucrar
          a los visitantes y mantener su atención.
        </p>
      </div>
    </div>
  </div>

  <div class="puntosdebiles-container3">
    <div class="content-icon">
      <i class='bx bx-sad'></i>
    </div>

    <div class="content-titulo">
      <h2>Experiencia</h2>
    </div>

    <div class="content-subtitulo">
      <div class="container-p90">
        <p>
          Portfolio web no proporcionan una experiencia de navegación atractiva.
        </p>
      </div>
    </div>
  </div>
</div>
