<div class="container">
  <div class="container-titulo">
    <div class="innertitulo">
      <h3>Casos De Estudios.</h3>
    </div>
  </div>
  <div class="main">
  


    
    <div class="alto-filas" [ngClass]="{'borde-verde': mostrarBordeVerde, 'borde-rojo': mostrarBordeRojo}">
      <div
        *ngFor="
          let proyecto of proyectoService.getProyectos();
          let i = index
        "
        class="fila"
        [ngClass]="{ visible: i < proyectoService.filasVisibles }"
      >
        <div class="columna col-flex1">
          <!--
          <img
            [src]="'../../../assets/Proyecto/' + proyecto.img"
            alt="Imagen del proyecto"
          /> -->

          <img [src]="proyectoService.getImageUrl(proyecto.img)" alt="Imagen del proyecto" />
        </div>

        <div class="columna col-flex2">
          <div class="container-textos">
            <h3>{{ proyecto.nombre }}</h3>
            <p>Tecnología: {{ proyecto.tecnologia }}</p>
            <p>{{ proyecto.descripcion }}</p>
            <div class="btn-cover">
              <button
                class="detalle-proyecto"
                (click)="redirectToDetallesProyecto(proyecto.id)"
              >
                <p>Detalle De Proyecto</p>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Aquí se agregarán las filas y columnas de proyectos -->
    </div>

    <div class="footer">
      <div *ngIf="mostrarCargarUno && proyectoService.filasVisibles < proyectoService.proyectoDatos.length"
      class="cargar-mas"
       (click)="cargarUnoMas()">
        Cargar Siguiente
      </div>
      <div
        *ngIf="!mostrarTodasLasFilas && proyectoService.filasVisibles < proyectoService.proyectoDatos.length"
        class="cargar-mas"
        (click)="cargarMasFilas()"
      >
        Cargar Más Proyectos
      </div>
      <div
    
        *ngIf="mostrarTodasLasFilas"
        class="cargar-mas"
        (click)="mostrarMenosFilas()"
      >
        Ocultar Proyectos
      </div>
    </div>
  </div>

  <!--- AGREGAREMOS UN SPINNER PARA LA CARGA DE PROYECTOS -->
</div>
