@import "../../../../Variables/global-variable.scss";

.borde-verde {
  border-bottom: 2px solid #00800045;
}

.borde-rojo {
  border-bottom: 2px solid red;
}

.deslizar-arriba {
  animation: deslizar-arriba 1s ease-in-out;
}

@keyframes deslizar-arriba {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.container {
  @include flex-centrado;
  flex-direction: column;
  background-color: $proyecto-bg;
  padding: 20px;

  .container-titulo {
    @include flex-centrado;
    height: 80px;
    width: 100%;
    color: #fff;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);

    .innertitulo {
      width: 90%;
      h3 {
        color: #909297;
        margin-bottom: 0;
      }
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;

    .alto-filas {
      display: flex;
      flex-direction: column;
      height: 90%;
      width: 100%;

      .fila {
        display: flex;
        align-items: center;
        height: 250px;
        position: relative;

        /* animacion */
        transition: all 0.7s ease-in-out;
        &.visible {
        }
        /* animacion*/

        &::after {
          content: "";
          position: absolute;
          bottom: -1px;
          left: 0;
          right: 0;
          height: 1px;
          background: linear-gradient(
            to right,
            transparent,
            #5f9ea02e,
            transparent
          );
        }

        &:first-child {
          margin-top: 0;
        }

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        &:nth-child(odd) {
          flex-direction: row;
        }

        &:nth-child(even) {
          flex-direction: row-reverse;
        }
      }
    }

    .columna {
      @include flex-centrado;
      flex: 1;
      flex-direction: column;
      height: 100%;

      .container-textos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      img {
        width: 100%;
        width: 42%;
        height: 60%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }

      h3 {
        font-size: 16px;
        color: #79baff;
        font-family: Arial, sans-serif;
      }

      p {
        color: rgba(221, 221, 221, 0.568627451);
        margin-bottom: 10px;
        font-size: 14px;
        font-family: Arial, sans-serif;
      }

      .detalle-proyecto {
        display: unset;
        background-color: $proyecto-btn-bg3;
        color: white;
        padding: 5px 10px;
        border: 1px solid #0b0909e5;
        border-radius: 5px;
        font-size: 13px;

        &:hover {
          background: $proyecto-btn-bg2;
        }
      }
    }

    .footer {
      display: flex;
      justify-content: space-evenly;
      padding: 10px;
      width: 100%;
      height: 10%;

      .container-proyectos-sin-abrir {
        @include flex-centrado();
        width: 40%;
        background: #00800008;

        .proyectos-sin-abrir-indicador {
          display: flex;
          align-items: center;
          width: 90%;
        }

        .numero-circulo {
          width: 24px; /* Tamaño del círculo */
          height: 24px; /* Tamaño del círculo */
          border-radius: 50%;
          background-color: #ff5733; /* Puedes ajustar el color */
          color: white;
          font-size: 14px; /* Tamaño del número */
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 8px; /* Espacio entre el círculo y el texto */
          position: relative; /* Añadimos posición relativa */
        }

        /*
        .numero-circulo::before {
          content: "";
          width: 0;
          height: 0;
          border-left: 6px solid transparent; 
          border-right: 6px solid transparent; 
          border-top: 8px solid #ff5733; 
          position: absolute; 
          bottom: -12px; 
          left: 50%; 
          transform: translateX(-50%); 
        
        } */

        .flecha-abajo {
          border-left: 6px solid transparent;
          border-right: 6px solid transparent; 
          border-top: 8px solid #ff5733; 
          position: absolute; 
          bottom: -10px;
          transform: translateX(-50%);
          animation: moverFlecha 1s infinite paused;
        }
        
        @keyframes moverFlecha {
          0% {
            transform: translateY(0); /* La flecha está en su posición original */
          }
          100% {
            transform: translateY(6px); /* La flecha se desplaza hacia abajo 10px */
          }
        }
        

        .texto-indicador {
          color: #6794ec;
          font-size: 14px;
        }

        /* PROBANDO ESTILOS PARA EL TEXTO */
        .estilo-sutil {
          font-size: 14px;
          font-weight: normal;
          text-transform: uppercase;
          color: #666;
          font-family: 'Helvetica', sans-serif;
        }
         /* PROBANDO ESTILOS PARA EL TEXTO */

        .proyectos-sin-abrir {
          //color: #4aa44aad;
          color: white; // Cambiar a blanco cuando el fondo es verde

          //color: #4aa44aad;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); // Agregar sombra al texto
        }
      }

      .cargar-mas {
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

        &:hover {
          background-color: rgba(221, 221, 221, 0.04);
        }
      }
    }
  }
}

//responsive --- -- - - -- - -

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main {
    display: flex;
    height: auto;
    width: 98%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
  }
}

@media screen and (max-width: 767px) {
  .container {
    @include flex-centrado;
    flex-direction: column;
    background-color: $proyecto-bg;
    padding: 2px;

    .container-titulo {
      @include flex-centrado;
      height: 80px;
      width: 100%;
      color: #fff;

      h3 {
        color: #909297;
        margin-bottom: 0;
      }
    }
  }

  .main {
    display: flex;
    height: auto;
    width: 98%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease-in-out;

    .alto-filas {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;

      .fila {
        display: flex;
        align-items: center;
        height: 250px;
        margin-bottom: 2rem;
        background-color: #171b23;
        border-radius: 8px;
        padding: 20px;

        &:nth-child(odd) {
          flex-direction: row;
          box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.2);
        }

        &:nth-child(even) {
          flex-direction: row-reverse;
          box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.29);
        }

        .col-flex1 {
          flex: 1;
          width: 30%;
        }

        .col-flex2 {
          flex: 2;
          width: 70%;
        }

        img {
          width: 90%;
          height: 60%;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        h3 {
          font-size: 15px;
          font-weight: bold;
          color: #909297;
        }

        p {
          font-size: 13px;
          color: rgba(221, 221, 221, 0.568627451);
          margin-bottom: 5px;
        }

        .btn-cover {
          @include flex-centrado();
          height: 80%;
          width: 90%;

          button {
            height: 50%;
            width: 70%;
            p {
              font-size: 10px;
              margin-bottom: 2px;
            }
          }
        }

        .detalle-proyecto {
          display: flex;
          align-items: center;
          background-color: $proyecto-btn-bg3;
          color: white;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          border: 1px solid #0b0909e5;

          &:hover {
            background: $proyecto-btn-bg2;
          }
        }
      }
    }

    .footer {
      display: flex;
      justify-content: flex-end;
      padding: 10px;
      width: 90%;

      .cargar-mas {
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

        &:hover {
          background-color: rgba(221, 221, 221, 0.04);
        }
      }
    }
  }
}
