//importamos variables globales de detalle-proyecto
@import "../../../../../../../Variables/variable-detalle-proyecto.scss";

.content {
  @include flex-jcenter-astart;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 60%; 
}

.content-titulo {
  color: #fff;
  span {
    color: $color-secundario-titulosiguiente; 
  }
}

.content-divider {
  width: 90%;
  height: 2px;
  background-color: $color-barra-divisora;
  margin: 10px 0;
}

.content-nombre {
  color: $color-secundario-titulo;
}

//DISEÑO DEL LINK QUE REDIRIGE A LA PAGINA EN VIVO DEL PROYECTO
.online-button {
  display: inline-block;
  padding: 10px 20px; 
  //background-color: #ff5733; 
  background-color: #4CAF50;
  color: #000; /* Color del texto */
  text-decoration: none;
  border-radius: 5px; 
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 

  transition: background-color 0.3s ease; 
  margin-top: 60px;

  //efecto animacion para el texto ==================================================
  opacity: 0; 
  transition: opacity 1s ease; 

  position: relative; 
  overflow: hidden;
  

  //punto que parpadeara 
  &::before {
    content: '';
    position: absolute;
    top: 50%; 
    left: 5px;
    width: 5px; 
    height: 5px;
    background-color: #0940e3; 
    border-radius: 50%; 
    animation: blink 6s ease 6s infinite; 
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1; 
  }
}


//animacion para el texto del boton
.online-button.appear {
  opacity: 1;
}

.online-button:visited {
  //background-color: #ff1a00; /* Color para :visited */
}

.online-button:hover {
  background-color: $color-secundario-titulo; 
  color: #ff5733; 
}

.online-button i {
  background-color: $color-secundario-titulo; 
}


.floating-button {
  @include flex-centrado;
  position: absolute;
  bottom: calc(20% - 30px); 
  right: calc(
    27% - 30px
  ); 
  //background-color: #466D6B;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 24px;
  cursor: pointer;
  animation: bounce 2s infinite;

  i {
    font-size: 48px;
    color: $color-boton-bajar;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-10px); 
  }
}