<!-- Contenido de la sección "Título" -->

<div class="content">
  <h1 class="content-titulo">
    {{ seccionTituloData.titulo }}
    <span> {{ seccionTituloData.span_titulo }}</span>
  </h1>
  <div class="content-divider"></div>
  <p class="content-nombre">{{ seccionTituloData.subtitulo }}</p>
</div>

<div class="floating-button">
  <!-- <i class='bx bxs-down-arrow-circle'></i> -->
  <i
    class="bx bx-chevrons-down"
    (click)="scrollToResumen()"
    [class.button-animation]="buttonClicked"
  ></i>
</div>
