<div class="container">

  <div class="hardsoft-header">
    <div class="titulo">
        <h3>Software Skills.</h3>
    </div>
  </div>

  <div class="hardsoft-main">
    <div class="hardsoft-card">
        <div class="innercard">
            <div class="fila">
                <div class="img-container">
                    <img class="img-estilo" src="../../../assets/Hardsoft/csharp.png" alt="">
                </div>

                <div class="img-container">
                    <img class="img-estilo" src="../../../assets/Hardsoft/java.png" alt="">
                </div>

                <div class="img-container">
                    <img class="img-estilo" src="../../../assets/Hardsoft/javascript.png" alt="">
                </div>

                <div class="img-container">
                    <img class="img-estilo" src="../../../assets/Hardsoft/springboot.png" alt="">
                </div>

                <div class="img-container">
                    <img class="img-estilo" src="../../../assets/Hardsoft/net.png" alt="">
                </div>
            </div>
        </div>
    </div>

  </div>

  <div class="hardsoft-footer">

    <div class="hardsoft-titulo-container">

        <div class="hardsoft-titulo">
            <p>Cargar mas</p>
        </div>

    </div>
    
  </div>
</div>