<div class="content-header">
  <div class="content-header-90">
    <h1>Prototipo De <span>Alta Fidelidad</span></h1>
  </div>
</div>

<div class="main-prototipo">
  <div #containerimg class="container-img">
    <img
      (click)="redirigirPrototipo()"
      #imageElement
      src=""
      alt="Descripción de la imagen"
    />

    <i (click)="redirigirPrototipo()" class="bx bxs-pointer"></i>

    <div class="img-descripcion">
      <div class="texto-container">
        <h3 #h3>Toca la imagen para ver el prototipo</h3>
      </div>
      <div class="icono"></div>
    </div>
  </div>
</div>
