<div class="content-header">
    <div class="content-header-90">
      <h1>Investigacion sobre los usuarios: <span>Resumen</span></h1>
    </div>
  </div>

  <div class="main-investigacion">
    <div class="investigacion-img">
      <i class="bx bx-vector"></i>
    </div>

    <div class="investigacion-texto">
      <div class="container-p">
        <p>
          Realicé entrevistas a los usuarios y, luego, las convertí en mapas de
          empatía para comprender mejor al usuario objetivo y sus necesidades.
          Descubrí que muchos usuarios objetivo consideran las compras en línea
          como una actividad divertida y relajante que realizan cuando necesitan
          un recreo de sus estudios o sus trabajos. Sin embargo, muchos sitios
          web de compras son abrumadores y confusos para navegar, y muchos
          usuarios objetivo se frustran por eso. Esto provocó que una
          experiencia normalmente agradable se convirtiera en algo desafiante
          para ellos y frustrara el propósito de relajación.
        </p>
      </div>
    </div>
  </div>
