<div class="content-header">
  <div class="content-header-90">
    <h1>Investigacion sobre los usuarios: <span>Resumen</span></h1>
  </div>
</div>

<div class="main-investigacion">
  <div class="investigacion-img">
    <i class='bx bx-detail'></i>
  </div>

  <div class="investigacion-texto">
    <div class="container-p">
      <p>
        convertí en mapas de empatía para comprender mejor al las necesidades
        del usuario. Descubrí que un portofolio ayuda a difundir y demostrar tus
        proyectos de manera dinamica e informativa.
      </p>
    </div>
  </div>
</div>
