<div class="container-header" #seccionheaderEl>
  <app-header></app-header>
</div>

<!-- divider -->
<div class="divider-header" ></div>

<div class="container-sobremi" #seccionsobremiEl>
  <app-sobre-mi></app-sobre-mi>
</div>

<!-- divider -->
<div class="divider"></div>

<div class="container-educacion" #seccioneducacionEl>
  <app-educacion [educacionData]="educacionDatos" style="display: flex; justify-content: center;"></app-educacion>
</div>

<!-- divider -->
<div class="divider"></div>

<div class="container-hardsoft" #seccionhardsoftEl>
  <app-hardsoft></app-hardsoft>
</div>

<!-- divider -->
<div class="divider"></div>

<div class="container-proyecto" #seccionproyectoEl>
  <app-proyecto></app-proyecto>
</div>

<!-- divider -->
<div class="dividerb"></div>

<div class="container-footer" #seccionfooterEL>
  <app-footer></app-footer>
</div>

<!--
  <div class="container-footer">
  <app-footer></app-footer>
  </div>
  
  <div class="container-experiencia">
    <app-experiencia></app-experiencia>
  </div>
  -->
