@import "../../../../Variables/global-variable.scss";

$icon-size: 45px;
$icon-animation-duration: 1s;
$icon-animation-delay: 2s;
$tooltip-transition-duration: 0.3s;
$tooltip-transition-delay: 0.3s;

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.container-left-right {
  display: flex;
  justify-content: center;
  height: 80%;
  width: 90%;
}

.left-card {
  @include flex-centrado;
  width: 48%;
  height: 100%;
}

.container-left {
  @include flex-centrado;
  width: 90%;
  height: 90%;
}

.card {
  display: flex;
  justify-content: space-evenly;
  border-radius: 25px;
  background-color: $sobremi-card-bg;
  width: 80%;
  height: 90%;

  @include drop-shadow(rgba(0, 0, 0, 0.25), 4px, 0, 4px);

  .card-title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: rgba(0, 0, 0, 0.09);
    border-radius: 18px;
    height: 30%;

    h4 {
      color: #d9d9d9;
      text-align: center;
    }
  }

  .card-descripcion {
    @include flex-centrado;
    height: 70%;
    padding: 2px;

    .card-descripcion-content {
      @include flex-centrado;
      text-align: center;
      overflow: hidden;
      overflow-wrap: break-word;
      width: 80%;
      max-height: 100%;


      animation: slideInDown 1s ease-in-out;
    }
    p {
      color: rgba(221, 221, 221, 0.97);
      margin: 0;
      font-size: 14px;
      text-align: justify;
    }
  }
}

.right-card {
  animation: slideInRight 1s ease-in-out;
  width: 48%;
  height: 100%;
}

.container-right {
  width: 100%;
  height: 100%;
}

.img-container {
  @include flex-centrado;
  width: 100%;
  height: 100%;
}

.img-container > img {
  width: 90%;
  height: 70%;
  border-radius: 30px;
}

.footer-container {
  height: 20%;
  width: 83%;
  display: flex;
  align-items: center;
}

.container-relative {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.image-container {
  position: relative;
  bottom: 30px;
}

.img-bar {
  width: 100%;
  display: block;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.icon-letra {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 33%;
  height: 90%;
  cursor: pointer;
  position: relative;

  i {
    font-size: $icon-size;
    transition: color $tooltip-transition-duration ease;
  }

  .linkedin-ico:hover {
    color: dodgerblue;
  }

  .github-ico:hover {
    color: limegreen;
  }

  .gmail-ico:hover {
    color: gold;
  }

  .linkedin-ico {
    @include icon-styles(#221da8, icon-animation1, $icon-animation-delay);
  }

  .github-ico {
    @include icon-styles(wheat, icon-animation2, $icon-animation-delay + 0.2s);
  }

  .gmail-ico {
    @include icon-styles(#d94242, icon-animation3, $icon-animation-delay + 0.4s);
  }

  @include keyframes(icon-animation1, -10px);
  @include keyframes(icon-animation2, -20px);
  @include keyframes(icon-animation3, -30px);

  .text {
    font-size: 11px;
    color: rgba(221, 221, 221, 0.5);
    transition: color $tooltip-transition-duration ease;
  }

  // Estilo para el tooltip al hacer hover sobre los iconos
  .tooltip {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity $tooltip-transition-duration ease, top $tooltip-transition-duration ease;
    pointer-events: none;
    max-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  i:hover + .tooltip {
    opacity: 1; 
    top: -10px; 
    transition-delay: 0s; 
  }

  i:not(:hover) + .tooltip {
    opacity: 0; 
    top: -30px;
    transition-delay: $tooltip-transition-delay; 
  }
}

//responsive --- -- - - -- - -
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    //background: $sobremi-container-bg;
  }

  .container-left-right {
    display: flex;
    justify-content: center;
    height: 80%;
    width: 98%;
    //background: red;
  }

  .left-card {
    @include flex-centrado;
    width: 48%;
    height: 100%;
    //background: blue;
  }

  .container-left {
    @include flex-centrado;
    width: 98%;
    height: 90%;
  }

  .card {
    display: flex;
    justify-content: space-evenly;
    border-radius: 25px;
    background-color: $sobremi-card-bg;
    width: 90%;
    height: 90%;

    @include drop-shadow(rgba(0, 0, 0, 0.25), 4px, 0, 4px);

    .card-title {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      background: rgba(0, 0, 0, 0.09);
      border-radius: 18px;
      height: 30%;

      h4 {
        color: #d9d9d9;
        text-align: center;
      }
    }

    .card-descripcion {
      @include flex-centrado;
      height: 70%;
      padding: 2px;

      .card-descripcion-content {
        @include flex-centrado;
        text-align: center;
        //color: #fff;
        overflow: hidden;
        overflow-wrap: break-word;
        width: 80%;
        max-height: 100%;
      }
      p {
        color: rgba(221, 221, 221, 0.97);
        margin: 0;
        font-size: 14px;
        text-align: justify;
      }
    }
  }

  .right-card {
    width: 48%;
    height: 100%;
  }

  .container-right {
    width: 100%;
    height: 100%;
  }

  .img-container {
    @include flex-centrado;
    width: 100%;
    height: 100%;
  }

  .img-container > img {
    width: 90%;
    height: 70%;
    border-radius: 30px;
  }

  .footer-container {
    height: 20%;
    width: 98%;
    /* background-color: $sobremi-container-bg; */
    display: flex;
    align-items: center;
  }

  .container-relative {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .image-container {
    position: relative;
    bottom: 30px;
  }

  .img-bar {
    width: 100%;
    display: block;
  }

  .text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 10px;
  }

  .icon-letra {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 33%;
  }

  .icon-letra > i {
    font-size: 22px;
  }

  .linkedin-ico {
    color: #221da8;
  }

  .github-ico {
    color: wheat;
  }

  .gmail-ico {
    color: #d94242;
  }

  .text {
    font-size: 11px;
    color: rgba(221, 221, 221, 0.83);
  }
}

@media screen and (max-width: 767px) {
  .container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    //background: $sobremi-container-bg;
  }

  .container-left-right {
    display: flex;
    justify-content: center;
    height: 80%;
    width: 98%;
    //background: red;
  }

  .left-card {
    @include flex-centrado;
    width: 98%;
    height: 100%;

    //background: blue;
  }

  .container-left {
    @include flex-centrado;
    width: 98%;
    height: 90%;
  }

  .card {
    display: flex;
    justify-content: space-evenly;
    border-radius: 25px;
    background-color: $sobremi-card-bg;
    width: 90%;
    height: 90%;

    @include drop-shadow(rgba(0, 0, 0, 0.25), 4px, 0, 4px);

    .card-title {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      background: rgba(0, 0, 0, 0.09);
      border-radius: 18px;
      height: 30%;

      h4 {
        color: #d9d9d9;
        text-align: center;
      }
    }

    .card-descripcion {
      @include flex-centrado;
      height: 70%;
      padding: 2px;

      .card-descripcion-content {
        @include flex-centrado;
        text-align: center;
        //color: #fff;
        overflow: hidden;
        overflow-wrap: break-word;
        width: 80%;
        max-height: 100%;
      }
      p {
        color: rgba(221, 221, 221, 0.97);
        margin: 0;
        font-size: 14px;
        text-align: justify;
      }
    }
  }

  .right-card {
    display: none;
    width: 48%;
    height: 100%;
  }

  .footer-container {
    height: 20%;
    width: 98%;
    /* background-color: $sobremi-container-bg; */
    display: flex;
    align-items: center;
  }

  .container-relative {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .image-container {
    position: relative;
    bottom: 30px;

    height: 90%;
  }

  .img-bar {
    width: 100%;
    display: none;
  }

  .text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 10px;
  }

  .icon-letra {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 33%;
  }

  .icon-letra > i {
    font-size: 38px;
  }

  .linkedin-ico {
    color: #221da8;
  }

  .github-ico {
    color: wheat;
  }

  .gmail-ico {
    color: #d94242;
  }

  .text {
    display: none;
    font-size: 11px;
    color: rgba(221, 221, 221, 0.83);
  }
}
