<div class="container-flex">
  <div class="container-left-right">
    <div class="left-card">
      <div class="container-left">
        <div class="card">
          <div class="card-title">
            <h4>Soy Gaston A. Ponce</h4>
          </div>

          <div class="card-descripcion">
            <div class="card-descripcion-content">
              <p>
                Me encuentro en la intersección del diseño UX/UI y la
                programación, buscando constantemente fusionar la creatividad
                con la tecnología. Mi enfoque se centra en la creación de
                experiencias digitales cautivadoras que combinan una visión
                estética única con una implementación cuidadosa.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="right-card">
      <div class="container-right">
        <div class="img-container">
          <img src="assets/Sobremi/logo.png" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div class="footer-container">


    <div class="container-relative">
      <div class="image-container">
        <img class="img-bar" src="../../../assets/Sobremi/bgfoot_png1.png" alt="">
        <div class="text-container">
          <div class="icon-letra">
            <i class='bx bxl-linkedin-square linkedin-ico'></i>
            <span class="text">www.linkedin.com/in/dotnetgas</span>
          </div>

          <div class="icon-letra">
            <i class='bx bxl-github github-ico' ></i>
            <span class="text">https://github.com/GastonJava</span>
          </div>

          <div class="icon-letra">
            <i class='bx bx-envelope gmail-ico' ></i>
            <span class="text">gastonmirandajava@gmail.com</span>
          </div>
         
         
          
        </div>
      </div>
    </div>
    



















 <!--

    <div class="container-relative">
        
 
         <img class="img-bar" src="../../../assets/Sobremi/bgfoot_png1.png" alt="">
 
      

   </div>

   -->

    </div>
  
</div>