<div class="seccion-titulo">
  <!-- Contenido de la sección "Título" -->

  <div class="content">
    <h1 class="content-titulo">Nombre del <span>proyecto</span></h1>
    <div class="content-divider"></div>
    <p class="content-nombre">Gaston Alejandro.</p>
  </div>

  <div class="floating-button">
    <!-- <i class='bx bxs-down-arrow-circle'></i> -->
    <i class="bx bx-chevrons-down"></i>
  </div>
</div>

<!-- SECCION RESUMEN -->
<div class="seccion-resumen">
  <div class="content-header">
    <div class="content-header-90">
      <h1>Resumen del <span>Proyecto</span></h1>
    </div>
  </div>

  <div class="content-main">
    <div class="content-izq">
      <div class="content-elproducto">
        <div class="content-icono">
          <div class="container-ico-elproducto">
            <i class="bx bx-desktop"></i>
          </div>
        </div>

        <div class="titulo-subtitulo">
          <div class="content-der-textos-titulo">
            <h1>El producto</h1>
          </div>

          <div class="content-der-textos-subtitulo">
            <p>
              Tee's Shirts es una tienda de ropa que ofrece opciones de precios
              asequibles. Los usuarios típicos tienen entre 19 y 30 años, y la
              mayoría son estudiantes universitarios o profesionales recién
              recibidos. rápido y fácil para cualquier tipo de usuario.
            </p>
          </div>
        </div>
      </div>

      <div class="content-duracion">
        <div class="content-icono">
          <div class="container-ico-duracion">
            <i class="bx bx-calendar-check"></i>
          </div>
        </div>

        <div class="titulo-subtitulo">
          <div class="content-der-textos-titulo">
            <h1>Duracion del Proyecto</h1>
          </div>

          <div class="content-der-textos-subtitulo">
            <p>Desde mayo 2022 hasta agosto 2023</p>
          </div>
        </div>
      </div>
    </div>

    <div class="content-der">
      <div class="container-img">
        <img
          src="../../../../../assets/Proyecto/detalle-proyecto/proyecto3-a.png"
          alt="Imagen número 1"
        />
        <img
          class="second-image"
          src="../../../../../assets/Proyecto/detalle-proyecto/proyecto3.png"
          alt="Imagen número 2"
        />
      </div>
    </div>
  </div>
</div>

<div class="seccion-problema">
  <div class="content-header">
    <div class="content-header-90">
      <h1>Resumen del <span>Proyecto</span></h1>
    </div>
  </div>

  <div class="main-problema">
    <div class="main-problema__col1">
      <div class="col1-container--ico">
        <i class="bx bx-cube"></i>
      </div>

      <div class="col1-container--titulo-subtitulo">
        <div class="titulo">
          <h1>El Problema</h1>
        </div>

        <div class="subtitulo">
          <p>
            Los sitios web de compras en línea tienen diseños desordenados,
            sistemas ineficientes para ver los productos y procesos de pago
            confusos.
          </p>
        </div>
      </div>
    </div>

    <div class="main-problema__col2">
      <div class="col2-container--ico">
        <i class="bx bxs-quote-alt-left"></i>
      </div>

      <div class="col2-container--titulo-subtitulo">
        <div class="titulo">
          <h1>El Objetivo</h1>
        </div>

        <div class="subtitulo">
          <p>
            Diseñar un sitio web de Tee's Shirts que sea fácil de usar, que
            proporcione una navegación clara y que ofrezca un proceso de pago
            rápido.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="seccion-responsabilidad">
  <!-- Contenido de la sección "RESPONSABILIDAD" -->
  <div class="content-header">
    <div class="content-header-90">
      <h1>Resumen del <span>Proyecto</span></h1>
    </div>
  </div>

  <div class="main-responsabilidad">
    <div class="main-responsabilidad__col1">
      <div class="col1-container--ico">
        <i class="bx bx-user"></i>
      </div>

      <div class="col1-container--titulo-subtitulo">
        <div class="titulo">
          <h1>Mi Funcion</h1>
        </div>

        <div class="subtitulo">
          <p>
            Diseñador de UX que lidera el diseño del sitio web de Tee's Shirts.
          </p>
        </div>
      </div>
    </div>

    <div class="main-responsabilidad__col2">
      <div class="col2-container--ico">
        <i class="bx bx-vector"></i>
      </div>

      <div class="col2-container--titulo-subtitulo">
        <div class="titulo">
          <h1>Responsabilidades</h1>
        </div>

        <div class="subtitulo">
          <p>
            Diseñar un sitio web de Tee's Shirts que sea fácil de usar, que
            proporcione una navegación clara y que ofrezca un proceso de pago
            rápido.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="seccion-usuario">
  <div class="container-usuario">
    <div class="bloque1">
      <div class="container-h1">
        <h1>ENTENDER AL <span>USUARIO</span></h1>
      </div>
    </div>

    <div class="bloque2">
      <div class="container-barra"></div>
    </div>

    <div class="bloque3">
      <div class="bloque3__container-lista">
        <ul>
          <li>Investigación de usuario</li>
          <li>Personajes</li>
          <li>Planteamiento del problema</li>
          <li>Mapas del recorrido de usuario</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="seccion-investigacion">
  <!-- Contenido de la sección "Problema" -->
  <div class="content-header">
    <div class="content-header-90">
      <h1>Investigacion sobre los usuarios: <span>Resumen</span></h1>
    </div>
  </div>

  <div class="main-investigacion">
    <div class="investigacion-img">
      <i class="bx bx-vector"></i>
    </div>

    <div class="investigacion-texto">
      <div class="container-p">
        <p>
          Realicé entrevistas a los usuarios y, luego, las convertí en mapas de
          empatía para comprender mejor al usuario objetivo y sus necesidades.
          Descubrí que muchos usuarios objetivo consideran las compras en línea
          como una actividad divertida y relajante que realizan cuando necesitan
          un recreo de sus estudios o sus trabajos. Sin embargo, muchos sitios
          web de compras son abrumadores y confusos para navegar, y muchos
          usuarios objetivo se frustran por eso. Esto provocó que una
          experiencia normalmente agradable se convirtiera en algo desafiante
          para ellos y frustrara el propósito de relajación.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="seccion-puntosdebiles">
  <!-- Contenido de la sección "Puntos debiles" -->
  <div class="content-header">
    <div class="content-header-90">
      <h1>Investigacion sobre los usuarios: <span>Puntos Debiles </span></h1>
    </div>
  </div>

  <!-- Contenido de la sección "Puntos debiles" -->
  <div class="main-puntosdebiles">
    <div class="puntosdebiles-container1">
      <div class="content-icon">
        <i class="bx bx-vector"></i>
      </div>

      <div class="content-titulo">
        <h2>Navegacion</h2>
      </div>

      <div class="content-subtitulo">

        <div class="container-p90">
          <p>
            Los diseños de sitios web de compras suelen estar muy cargados y eso
            hace que la navegación sea confusa.
          </p>
        </div>
       
      </div>
    </div>

    <div class="puntosdebiles-container2">
      <div class="content-icon">
        <i class="bx bx-vector"></i>
      </div>

      <div class="content-titulo">
        <h2>Interaccion</h2>
      </div>

      <div class="content-subtitulo">

        <div class="container-p90">
          <p>
            Los botones pequeños de los sitios web de compras dificultan la
            selección de elementos y, a veces, eso lleva a que los usuarios
            cometan errores.
          </p>
        </div>
        
      </div>
    </div>

    <div class="puntosdebiles-container3">
      <div class="content-icon">
        <i class="bx bx-vector"></i>
      </div>

      <div class="content-titulo">
        <h2>Experiencia</h2>
      </div>

      <div class="content-subtitulo">

        <div class="container-p90">
          <p>
            Los sitios web de compras en línea no proporcionan una experiencia de
            navegación atractiva.
          </p>
        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="seccion-personas">
  <!-- Contenido de la sección "Personas" -->
  <app-carusel-personas>
    <!-- Aquí dentro iría el carrusel de "Personas" con las secciones "Metas", "Recorrido" y "Mapa Recorrido" -->
    <app-metas></app-metas>
    <app-recorrido></app-recorrido>
    <app-mapa-recorrido></app-mapa-recorrido>
  </app-carusel-personas>
</div>
