<div class="seccion-titulo">
  <!-- Contenido de la sección "Título" -->
  <app-seccion-titulo></app-seccion-titulo>
</div>

<!-- SECCION RESUMEN -->
<div class="seccion-resumen">
  <app-seccion-resumen></app-seccion-resumen>
</div>

<!-- CONTENIDO DE SECCION PROBLEMA -->
<div class="seccion-problema">
  <app-seccion-problema></app-seccion-problema>
</div>

<!-- CONTENIDO DE SECCION RESPONSABILIDAD -->
<div class="seccion-responsabilidad">
  <!-- Contenido de la sección "RESPONSABILIDAD" -->
  <app-seccion-responsabilidad></app-seccion-responsabilidad>
</div>

<div class="seccion-usuario">
  <app-seccion-usuario></app-seccion-usuario>
</div>

<div class="seccion-investigacion">
  <!-- Contenido de la sección "Problema" -->
 <app-seccion-investigacion></app-seccion-investigacion>
</div>

<div class="seccion-puntosdebiles">
  <!-- Contenido de la sección "Puntos debiles" -->
  <app-seccion-puntosdebiles></app-seccion-puntosdebiles>
</div>

<div class="seccion-personas">
  <!-- Contenido de la sección "Personas" -->
  <app-carusel-personas>
    <!-- Aquí dentro iría el carrusel de "Personas" con las secciones "Metas", "Recorrido" y "Mapa Recorrido" -->
    <app-metas></app-metas>
    <app-recorrido></app-recorrido>
    <app-mapa-recorrido></app-mapa-recorrido>
  </app-carusel-personas>
</div>