//importamos variables globales de detalle-proyecto
@import "../../../../../Variables/variable-detalle-proyecto.scss";

//TODO: General
.seccion-titulo,
.seccion-resumen,
.seccion-problema {
  height: 100vh;
  width: 100%;
  max-width: 100%;
}

//TODO: SECCION TITULO ===========
.seccion-titulo {
  @include flex-centrado;
  //position: relative;

  box-sizing: border-box;
}

.content {
  @include flex-jcenter-astart;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 60%; // Ajusta el ancho máximo del contenido al 60% del contenedor
}

.content-titulo {
  color: #fff;
  span {
    color: $color-secundario-titulosiguiente; // Color del texto "proyecto"
  }
}

.content-divider {
  width: 90%;
  height: 2px;
  background-color: $color-barra-divisora;
  margin: 10px 0;
}

.content-nombre {
  color: $color-secundario-titulo;
}

.floating-button {
  @include flex-centrado;
  position: absolute;
  bottom: calc(20% - 30px); // Ajusta la distancia desde abajo según necesites
  right: calc(
    27% - 30px
  ); // Ajusta la distancia desde la derecha según necesites
  //background-color: #466D6B;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 24px;
  cursor: pointer;

  i {
    font-size: 48px;
    color: $color-boton-bajar;
  }
}

//TODO: SECCION RESUMEN ===========
.seccion-resumen {
  background-color: $color-principal-bg2;

  .content-header {
    @include flex-centrado;
    width: 100%;
    height: 20%;
    text-align: center;
    margin-bottom: 20px;
    border-left: 2px solid $color-barra-ico-titulo; /* Agrega una línea vertical a la izquierda */
    padding-left: 10px; /* Agrega espacio a la izquierda de la línea */

    .content-header-90 {
      width: 90%;

      h1 {
        color: $color-titulo;
        text-align: start;
      }

      span {color: $color-titulo-span;}
    }
  }

  //content main
  .content-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 80%;

    .content-izq {
      @include flex-jevenly-anone;
      flex-direction: column;
      width: 60%;
      height: 90%;
    }

    .content-elproducto {
      @include flex-jevenly-astart;
      height: 40%;
    }

    .content-icono {
      width: 10%;
      height: 90%;

      .container-ico-elproducto {
        @include flex-centrado;
        height: 30%;
        i {font-size: 30px; color:$color-barra-ico-titulo;}
      }
    }

    .titulo-subtitulo {
      width: 90%;
      height: 90%;

      .content-der-textos-titulo {
        h1 { color: $color-titulo;}
      }

      .content-der-textos-subtitulo {
        p { color: $color-titulo;}
      }
    }

    .content-duracion {
      @include flex-jevenly-astart;
      height: 40%;

      .content-icono {
        width: 10%;
        height: 90%;
        .container-ico-duracion {
          @include flex-centrado;
          height: 30%;

          i { font-size: 30px; color: $color-barra-ico-titulo;}

        }
      }
    }

    .content-der {
      width: 40%;
      height: 90%;
    
      .container-img {
        position: relative;
        max-width: 100%;
        height: 90%;
        display: block;
    
        img {
          max-width: 90%;
          height: auto;
          display: block;
          position: absolute;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.40);
    
          &.second-image {
            top: 140px;
            left: 50%; /* Ajusta el margen derecho aquí */
            transform: translateX(-50%);
          }
        }
      }
    }
  }

}

//TODO: SECCION PROBLEMA ===========

.seccion-problema {
  background-color: red;

  .content-header {
    @include flex-centrado;
    width: 100%;
    height: 20%;
    text-align: center;
    margin-bottom: 8px;
    border-left: 2px solid $color-barra-ico-titulo; /* Agrega una línea vertical a la izquierda */
    padding-left: 10px; /* Agrega espacio a la izquierda de la línea */
  
    .content-header-90 {
      width: 90%;
  
      h1 {
        color: $color-titulo;
        text-align: start;
      }
  
      span {color: $color-titulo-span;}
    }
  }

  .main-problema {
    display: flex;
    justify-content: center;
    height: 80%;
    
  }

  .main-problema__col1,
  .main-problema__col2 { display: flex; align-items: center; flex-direction: column; height: 90%; width: 48%; }

  .main-problema__col1 {
    background: green;

    .col1-container--ico {
      display: flex;
      align-items: center;
      height: 20%;
      width: 90%;
      background: grey;
    }

    .col1-container--titulo-subtitulo{
      height: 80%;
      width: 90%;

      .titulo {height: 20%;}

      .subtitulo {height: 80%;}

    }
  }

  .main-problema__col2 {
    background: white;

    .col2-container--ico {
      display: flex;
      align-items: center;
      height: 20%;
      width: 90%;
      background: gold;
    }

    .col2-container--titulo-subtitulo {
      height: 80%;
      width: 90%;

      .titulo {
        height: 20%;
      }
  
      .subtitulo {
        height: 80%;
      }
    }
    
  }

 

}

