//importamos variables globales de detalle-proyecto
@import "../../../../../Variables/variable-detalle-proyecto.scss";


//ESTAMOS EN LA RAMA MODIFICACIONES-SEGURAS_detallecomponentes


//TODO: General
.seccion-titulo,
.seccion-resumen,
.seccion-usuario,
.seccion-investigacion,
.seccion-puntosdebiles {
  height: 100vh;
  width: 100%;
  max-width: 100%;
}

.seccion-problema,
.seccion-responsabilidad {
  height: 90vh;
  width: 100%;
  max-width: 100%;
}

//TODO: SECCION TITULO ===========
.seccion-titulo {
  //position: relative;
}

app-seccion-titulo {
  @include flex-centrado;
  box-sizing: border-box;
  background-color: red;
  width: 100%;
  height: 100vh;
}


//TODO: SECCION RESUMEN ===========
.seccion-resumen {
  background-color: $color-principal-bg2;
}

app-seccion-resumen{
  width: 100%;
  height: 100vh;
}

//TODO: SECCION PROBLEMA ===========

.seccion-problema {
  //background-color: $color-principal-bg2;

}

//TODO: SECCION RESPONSABILIDAD ===========
.seccion-responsabilidad {
  
}

//TODO: SECCION USUARIO ===========
.seccion-usuario {
  @include flex-centrado;
}

app-seccion-usuario {
  @include flex-centrado;
  height: 100vh;
  width: 100%;
  max-width: 100%;
}


//TODO: SECCION INVESTIGACION ===========
.seccion-investigacion {
  
}
app-seccion-investigacion {
  height: 100vh;
  width: 100%;
  max-width: 100%;

}

//TODO: SECCION PUNTOSDEBILES ===========
.seccion-puntosdebiles {
  
}

app-seccion-puntosdebiles {
  
}
