<div class="content-header">
  <div class="content-header-90">
    <h1>Resumen del <span>Proyecto</span></h1>
  </div>
</div>

<div class="content-main">
  <div class="content-izq">
    <div class="content-elproducto">
      <div class="content-icono">
        <div class="container-ico-elproducto">
          <i class="bx bx-desktop"></i>
        </div>
      </div>

      <div class="titulo-subtitulo">
        <div class="content-der-textos-titulo">
          <h1>El producto</h1>
        </div>

        <div class="content-der-textos-subtitulo">
          <p>
            Portfolio creado con Angular y potenciado por NGRX para el manejo de estados.
          </p>
        </div>
      </div>
    </div>

    <div class="content-duracion">
      <div class="content-icono">
        <div class="container-ico-duracion">
          <i class="bx bx-calendar-check"></i>
        </div>
      </div>

      <div class="titulo-subtitulo">
        <div class="content-der-textos-titulo">
          <h1>Duracion del Proyecto</h1>
        </div>

        <div class="content-der-textos-subtitulo">
          <p>Desde noviembre 2021 hasta marzo 2022</p>
        </div>
      </div>
    </div>
  </div>

  <div class="content-der">
    <div class="container-img">
      <img
        src="../../../../../assets/Proyecto/detalle-proyecto/proyecto3-a.png"
        alt="Imagen número 1"
      />
      <img
        class="second-image"
        src="../../../../../assets/Proyecto/detalle-proyecto/proyecto3.png"
        alt="Imagen número 2"
      />
    </div>
  </div>
</div>
