<div class="content-header">
  <div class="content-header-90">
    <!-- Nombre de la persona del caso de estudio...
    <h1>Alejandro <span>P</span></h1>  -->

    <h1>{{personasData.nombre}} <span> {{personasData.nombre_span}}</span></h1>
  </div>
</div>

<div class="main-personas">
  <div class="content">
    <div class="content-fila--titulo--container">
      <h1>Planteamiento del problema:</h1>
    </div>

    <div class="content-fila--subtitulo--container">
      <!--
      <p>
        Alejandro es una estudiante y desarrollador web que necesita una
        navegación intuitiva y un sitio web para mostrar sus proyectos.
      </p> -->

      <p>{{personasData.subtitulo}}</p>
    </div>
  </div>
</div>
