<div class="content-header">
  <div class="content-header-90">
    <h1>Natalia <span>Cardone</span></h1>
  </div>
</div>

<div class="main-personas">
  <div class="content">
    <div class="content-fila--titulo--container">
      <h1>Planteamiento del problema:</h1>
    </div>

    <div class="content-fila--subtitulo--container">
      <p>
        Mahalia es una estudiante universitaria muy ocupada que necesita filtros
        de búsqueda y una navegación intuitiva en el sitio web porque quiere que
        las compras en línea sean una actividad relajada.
      </p>
    </div>
  </div>
</div>