@import '../app/Variables/global-variable.scss';

.container-header {
  background-color: $color-principal;
  height: 10vh;
}

.container-sobremi {
  background-color: $sobremi-card-bg;
  height:60vh;
}

.divider {
  height: 5vh;
  width: 100%;
  background-color: #161920;
}

.container-educacion {
  background-color: $color-principal;
  height: auto;
}

.container-hardsoft {
  background-color: $color-secundario;
  height: 50%;
}

.container-proyecto {
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: $proyecto-bg;
}

@media screen and (min-width: 1024px) and (max-width: 1365px) {
  /* Estilos para tablets */
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 1023px) {
  /* Estilos para dispositivos móviles */
}
