@import '../app/Variables/global-variable.scss';

.container-header {
  background-color: $color-principal;
  height: 90px;
}

.container-sobremi {
  background-color: blueviolet;
}

.container-proyecto {
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: red;
}

@media screen and (min-width: 1024px) and (max-width: 1365px) {
  /* Estilos para tablets */
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 1023px) {
  /* Estilos para dispositivos móviles */
}
