<div class="container-header">
    <app-header></app-header>
</div>

<div class="container-sobremi">
    <app-sobre-mi></app-sobre-mi>
</div>

<!-- divider -->
<div class="divider"></div>


<div class="container-educacion">
    <app-educacion></app-educacion>
</div>

<!-- divider -->
<div class="divider"></div>

<div class="container-hardsoft">
    <app-hardsoft></app-hardsoft>
</div>


<!--

<div class="container-proyecto">
    <app-proyecto></app-proyecto>
</div>

<div class="container-footer">
<app-footer></app-footer>
</div>

<div class="container-experiencia">
  <app-experiencia></app-experiencia>
</div>
-->