@import 'mixins';

//Variables específicas de la seccion TITULO, RESUMEN, PROBLEMA, FUNCION
$color-principal-bg: #161920;
$color-secundario-titulo: #fff;
$color-secundario-titulosiguiente: #FF6230;

//seccion TITULO:
$color-barra-divisora:rgba(255, 255, 255, 0.50);
$color-boton-bajar:#466D6B;

//seccion RESUMEN
$color-principal-bg2: #171B23;
$color-barra-ico-titulo: #4E6792;
$color-titulo: #FFF;
$color-titulo-span: #FF6230;