@import "../../Variables/global-variable.scss";

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: $sobremi-container-bg;
}

.container-left-right {
  display: flex;
  justify-content: center;
  height: 80%;
  width: 90%;
  //background: red;
}

.left-card {
  @include flex-centrado;
  width: 48%;
  height: 100%;
  //background: blue;
}

.container-left {
  @include flex-centrado;
  width: 90%;
  height: 90%;
}

.card {
  border-radius: 25px;
  width: 80%;
  height: 90%;
  background-color: $sobremi-card-bg;
  @include drop-shadow(rgba(0, 0, 0, 0.25), 4px, 0, 4px);

  .card-title {
    h4 {
      color: #D9D9D9;
      text-align: center;
    }
  }

  .card-descripcion {
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;

    .card-descripcion-content {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      //color: #fff;
      overflow: hidden;
      overflow-wrap: break-word;
      max-height: 100%;
      width: 80%;
    }
    p {
      color: rgba(221, 221, 221, 0.97);;
      margin: 0;
      font-size: 14px;
      text-align: justify;
    }
  }
}

.right-card {
  width: 48%;
  height: 100%;
}

.container-right {
  width: 100%;
  height: 100%;
}

.img-container {
  @include flex-centrado;
  width: 100%;
  height: 100%;
}

.img-container > img {
  width: 90%;
  height: 90%;
  border-radius: 30px;
}

/*
.footer-container {
  height: 20%;
  width: 100%;
  background-color: crimson;
}

.svg-container {
  width: 100%; 
 
}

.svg-container svg {
  width: 100%; 
  height: auto; 
}
*/


.footer-container {
  height: 20%;
  width: 83%;
  background-color: $sobremi-container-bg;
  display: flex; 
  align-items: center; 
}


.container-relative {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.image-container {
  position: relative;
  bottom: 30px;
}

.img-bar {
  width: 100%;
  display: block;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.icon-letra {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 33%;
}

.icon-letra > i {
 font-size: 22px;
}

.linkedin-ico {
  color: #221da8;
}

.github-ico {
  color: wheat;
}

.gmail-ico {
  color: #d94242;
}

.text {
  color: rgba(221, 221, 221, 0.83);
}





































/*
.container-relative {
  display: block; 
  width: 100%; 
  height: 100%; 
  position: relative;
  background-color: red;

}
.svg-container {
  flex: 1; 
  
}

.svg-container svg {
  display: block; 
  width: 100%; 
  height: 100%; 
}

.img-bar {
  width: 100%;
  bottom: 8px;
  position: absolute;
}


*/



/*
.footer-container {
  height: 20%;
  width: 83%;
  background-color: $sobremi-container-bg;
  position: relative;
}

.text-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.text {
  color: white;
}

.svg-container {
  width: 100%;
  height: 100%;
}

.svg-container svg {
  display: block;
  width: 100%;
  height: 100%;
}
*/