<div class="container-flex">

    <div class="container-left-right">

        <div class="left-card">

            <div class="container-left">

                <div class="card">

                    <div class="card-title">
                        <h3>Soy Gaston A. Ponce</h3> 
                    </div>

                    <div class="card-descripcion">
                        <div class="card-descripcion-content">
                            <p>Me encuentro en la intersección del diseño UX/UI
                                y la programación, buscando constantemente fusionar
                                la creatividad con la tecnología. 
                                Mi enfoque se centra en la creación de experiencias digitales
                                cautivadoras que combinan una visión estética única con una implementación cuidadosa.
                            </p>
                        </div>
                       
                        
                    </div>


                </div>

            </div>
    
        </div>
    
        <div class="right-card">
    
        </div>

    </div>
   
    <div class="footer-container">

    </div>

</div>