<div class="footer">

    <div class="over-container">
        <div class="column1 position-off">
            <div class="container-center">
                
                <!--
                <div class="image-ico">
                    <img src="../../../assets/favicon.png" alt="icono">
                </div>
                -->

                <div class="nombre-container">
                    <p>&copy; 2023 - Gaston Alejandro</p>
                </div>
            </div>
            
           
        </div>

        <div class="columna2 position-off">
            <div class="textos">
                <div class="only-movil-icon">
                    <i class='bx bx-home-alt-2'></i>
                </div>

                <div class="only-movil-icon">
                    <i class='bx bxs-contact'></i>
                </div>

                <div class="only-movil-icon">
                    <i class='bx bx-paperclip' ></i>
                </div>

                <p>Inicio</p>
                <p>Skill</p>
                <p>Proyecto</p>
            </div>
        </div>
    </div>
    
    <div class="imagen-container-bg">
        <img src="../../../assets/Footer/bgfoot_png1.png" alt="footer background">
    </div>
</div>
