<div class="carusel-container">

  <swiper-container
    navigation="true"
    pagination="true"
    pagination-clicklable="true"
    loop="true"
    mousewheel="true"
  >
    <swiper-slide><app-personas [personasData]="personasData"></app-personas></swiper-slide>
    <swiper-slide><app-metas [metasData]="metasData"></app-metas></swiper-slide>
    <swiper-slide><app-recorrido [recorridoData]="recorridoData"></app-recorrido></swiper-slide>
    <swiper-slide><app-mapa-recorrido [mapaRecorridoDataArray]="mapaRecorridoDataArray"></app-mapa-recorrido></swiper-slide>
  </swiper-container>

</div>
