<div class="carusel-container">

  <swiper-container
    navigation="true"
    pagination="true"
    pagination-clicklable="true"
    loop="true"
    mousewheel="true"
  >
    <swiper-slide><app-personas [personasData]="caruselDatosService.caruselPersonaData"></app-personas></swiper-slide>
    <swiper-slide><app-metas [metasData]="caruselDatosService.caruselMetasData"></app-metas></swiper-slide>
    <swiper-slide><app-recorrido [recorridoData]="caruselDatosService.caruselRecorridoData"></app-recorrido></swiper-slide>
    <swiper-slide><app-mapa-recorrido [mapaRecorridoArray]="mapaRecorridoDataArray" [mapaArray]="caruselDatosService.mapaArray"></app-mapa-recorrido></swiper-slide>
  </swiper-container>

</div>
