<div class="content-header">
  <div class="content-header-90">
    <h1>Resumen del <span>Proyecto</span></h1>
  </div>
</div>

<div class="main-problema">
  <div class="main-problema__col1">
    <div class="col1-container--ico">
      <i class="bx bx-cube"></i>
    </div>

    <div class="col1-container--titulo-subtitulo">
      <div class="titulo">
        <h1>El Problema</h1>
      </div>

      <div class="subtitulo">
        <p>
          Los sitios web de compras en línea tienen diseños desordenados,
          sistemas ineficientes para ver los productos y procesos de pago
          confusos.
        </p>
      </div>
    </div>
  </div>

  <div class="main-problema__col2">
    <div class="col2-container--ico">
      <i class="bx bxs-quote-alt-left"></i>
    </div>

    <div class="col2-container--titulo-subtitulo">
      <div class="titulo">
        <h1>El Objetivo</h1>
      </div>

      <div class="subtitulo">
        <p>
          Diseñar un sitio web de Tee's Shirts que sea fácil de usar, que
          proporcione una navegación clara y que ofrezca un proceso de pago
          rápido.
        </p>
      </div>
    </div>
  </div>
</div>
