<header>
    <div class="header-container">

      <div class="left-section">
        <!-- Icono o logotipo en la izquierda -->
        <img src="../../../assets/Header/mi logo.png" alt="logo de mi portfolio">
      </div>

      <div class="middle-section">
        <!-- Foto de perfil en forma de círculo -->
        <div class="img-circle">
          <img src="../../../assets/Header/perfil_mio.jpg" alt="mi perfil png">
        </div>

      </div>

      <div class="right-section">

        <div class="background-usuario">

          <div class="session">
            <span class="login-text">Iniciar Session</span>
          </div>
          
          <div class="lenguaje-btn">
            <span class="lenguage-text">ENG</span>
          </div>
 
        </div>
        
      </div>

    </div>
  </header>