<div class="content-header">
    <div class="content-header-90">
      <h1>Resumen del <span>Proyecto</span></h1>
    </div>
  </div>

  <div class="main-responsabilidad">
    <div class="main-responsabilidad__col1">
      <div class="col1-container--ico">
        <i class="bx bx-user"></i>
      </div>

      <div class="col1-container--titulo-subtitulo">
        <div class="titulo">
          <h1>Mi Funcion</h1>
        </div>

        <div class="subtitulo">
          <p>
            Diseñador de UX que lidera el diseño del sitio web de Tee's Shirts.
          </p>
        </div>
      </div>
    </div>

    <div class="main-responsabilidad__col2">
      <div class="col2-container--ico">
        <i class="bx bx-vector"></i>
      </div>

      <div class="col2-container--titulo-subtitulo">
        <div class="titulo">
          <h1>Responsabilidades</h1>
        </div>

        <div class="subtitulo">
          <p>
            Diseñar un sitio web de Tee's Shirts que sea fácil de usar, que
            proporcione una navegación clara y que ofrezca un proceso de pago
            rápido.
          </p>
        </div>
      </div>
    </div>
  </div>
