<div class="content-header">
  <div class="content-header-90">
    <h1>Mapa de recorrido del <span>Usuario</span></h1>
  </div>
</div>

<div class="main-mapa-recorrido">
  <div *ngFor="let proyecto of mapaRecorridoData" class="mapa">
    <div class="celda encabezado">ACTION</div>
    <div *ngFor="let action of proyecto.actions" class="celda">
      {{ action }}
    </div>
    <div class="celda encabezado">TASK LIST</div>
    <div *ngFor="let task of proyecto.tasklist" class="celda">{{ task }}</div>
    <div class="celda encabezado">FEELING ADJECTIVES</div>
    <div *ngFor="let feeling of proyecto.feelings" class="celda centrado">
      {{ feeling }}
    </div>
    <div class="celda encabezado">IMPROVEMENT OPPORTUNITIES</div>
    <div *ngFor="let improvement of proyecto.improvements" class="celda">
      {{ improvement }}
    </div>
  </div>
</div>
