<div class="content-header">
  <div class="content-header-90">
    <h1>Mapa de recorrido del <span>Usuario</span></h1>
  </div>
</div>

<div class="main-mapa-recorrido">
  <div class="mapa">
    <div class="celda encabezado">ACTION</div>
    <div class="celda">Ingresar a la pagina web</div>
    <div class="celda">Navegación de proyectos</div>
    <div class="celda">Detalles del proyecto</div>
    <div class="celda encabezado">TASK LIST</div>
    <div class="celda">ir a la seccion proyectos.</div>
    <div class="celda">Presionar boton siguiente para navegar.</div>
    <div class="celda">Presionar en el proyecto a ver y accede a la secion.</div>
    <div class="celda encabezado">FEELING ADJECTIVES</div>
    <div class="celda centrado">😄</div>
    <div class="celda centrado">😃</div>
    <div class="celda centrado">😕</div>
    <div class="celda encabezado">IMPROVEMENT OPORTUNITIES</div>
    <div class="celda">Quizás agregarle animación para que sea mas fluido.</div>
    <div class="celda">Mejorar la accesibilidad de los textos</div>
    <div class="celda">Que el diseño sea mas adaptativo</div>
  </div>
</div>
