//variable global
@import "../../../../../../../../Variables/variable-detalle-proyecto.scss";

.content-header {
  @include flex-centrado;
  width: 100%;
  height: 20%;
  text-align: center;
  margin-bottom: 8px;
  border-left: 2px solid $color-barra-ico-titulo; /* Agrega una línea vertical a la izquierda */
  padding-left: 10px; /* Agrega espacio a la izquierda de la línea */

  .content-header-90 {
    width: 90%;

    h1 {
      color: $color-titulo;
      text-align: start;
    }

    span {
      color: $color-titulo-span;
    }
  }
}

.main-mapa-recorrido {
  width: 90%;
  height: 80%;
  background: #466d6b;
  display: flex;

  .mapa {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
    grid-auto-rows: minmax(
      50px,
      auto
    ); /* Altura mínima de 50px, se expandirá según el contenido */
    gap: 10px; /* Espacio entre las celdas */
  }

  .celda {
    @include flex-centrado;
    border: 1px solid #ccc;
    padding: 10px;
  }

  //ENCABZADOS - TITULOS
  .encabezado {
    background: #1F2533;
    color: white;
  }

  
}
