<div class="container-usuario">
    <div class="bloque1">
      <div class="container-h1">
        <h1>ENTENDER AL <span>USUARIO</span></h1>
      </div>
    </div>

    <div class="bloque2">
      <div class="container-barra"></div>
    </div>

    <div class="bloque3">
      <div class="bloque3__container-lista">
        <ul>
          <li>Investigación de usuario</li>
          <li>Personajes</li>
          <li>Planteamiento del problema</li>
          <li>Mapas del recorrido de usuario</li>
        </ul>
      </div>
    </div>
  </div>
